<div class="container-fluid"  id="container-foot">
  <div>
     <footer>
       <p>版权所有  copyright@onroad</p>
       <p>友情链接：<a href="https://www.baidu.com">百度  </a><a href="https://lvyou.baidu.com/">百度旅游</a>
       </p>  
     </footer>
  </div>
</div>