<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <link rel="stylesheet" href="/stylesheets/revisepassword.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <script type="text/javascript" src="/bootstrap/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
  </head>
  <body>
    <%- include("header.ejs",{title:title,who:who,index:'返回首页'})%>
    	<div class="container-fluid">
        	<div class="container">
        		<div class="revise-content">
        			<p>
        				<label>输入新密码</label>
        				<input type="password" name="<%=who%>" placeholder="需包含6位以上数字和字母" id="psd"> 
        				<div class="error formate">密码格式不正确</div>

 	      			</p>
 	      			<p>
        				<label>确认新密码</label>
        				<input type="password" name="con-psd" id="con-psd">
        				<div class="error compare">密码不一致</div>        				
 	      			</p>
 	      			<div class="submit-psd">确认修改密码</div>
 	      			<p class="success-psd"><i class="glyphicon glyphicon-ok"></i>修改成功</p>

        		</div>
        	</div>
    	</div>


     <%- include("footer.ejs") %> 
     <script>
     	$('.submit-psd').click(function(){
     		 let rege=/[a-zA-Z0-9]{6,10}/;
          	 let result=rege.test( $('#psd').val());
          	 let value1=$('#psd').val();
          	 let value2=$('#con-psd').val();

          	 if(!result){
            	$('.formate').show();
          	}else if(value1!==value2){
          		$('.compare').show();
          	}else{
          		$.ajax({
          			url:'/revisepassword',
          			type:'post',
          			data:{
          				id:$('#psd').attr('name'),
          				password:value1
          			},
          			success:function(res){
          				console.log(res);
          				if(res.ok){
          					$('.success-psd').show();

          				}
          			},
          			error:function(){
          				console.log('请求失败');
          			}

          		})
          	}

     	})
     	
     </script>
 </body>
 </html>
