i{
	font-size: 20px;
	color:red;
}
body{
	/*background: #f0f0f0;*/
}
td{
	cursor: pointer;
}
td:hover{
	color:blue;
	/*text-decoration: underline;*/
}
.container{
	overflow: hidden;
	/*background:#ad9c68;*/
}
.blog-info-img{
	float: left
}
.blog-item{
	float: right;
}
.blog-item h2{
	color:white;
}
.blog-item li{
	width:600px;
	list-style: none;
	background:white;
	padding: 10px;
	margin-bottom: 10px;
	color:black;
	border-radius: 10px;

}
.blog-item li .blog-detail{
	height: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}