body{
	background: #1f7994;
}
.container-fluid{
	height: 550px;
}
.revise-content{
	width: 400px;
	height: 280px;
	background: white;
	border:1px solid #ccc;
	box-shadow: 0 0 3px #ccc;
	margin:100px auto;
	padding: 20px;
}
label{
	display: inline-block;
	width: 140px;
	height: 60px;
	line-height: 60px;
	text-align:right;
}
.submit-psd{

	width:160px;
	height: 30px;
	background:#1f7994;
	line-height: 30px;
	color:white;
	text-align:center; 
	margin: 0 auto;
	border-radius:4px;
	cursor: pointer;

}
.error{
	width:100px;
	margin:0 auto;
	color:red;
	display: none;

}
.success-psd{
	width: 100px;
	margin:0 auto;
	padding-top: 20px;
	color:#1f7994;
	display: none;
}
