*{
	margin:0;
	padding: 0;
}
.container{
	width: 900px;
	height: 1000px;
	position: relative;
}
 .navbar-default{
 	margin-bottom: 0;
 	border: none;
 }
#container-fluid{
	/*height: 700px;*/
}
.styleImg{
	width: 100%;
	height: 200px;
	background: #ccc;
	position: relative;
	overflow: hidden;
}
.storeImg{
	width:60px;
	height: 30px;
	background:#0084FF;
	color: white;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	position: absolute;
	right: 10px;
	top:140px;
	cursor: pointer;
	display: none;
}
.styleImg img{
	display: block;
	width: 100%;
}
.edit-img{
	width:120px;
	height:40px;
	border:1px solid black;
	position: absolute;
	right: 10px;
	top:20px;
	z-index: 7;
	text-align: center;
	line-height: 40px;

}
.file-down{

	opacity: 0;
}
.file-on{
	position: absolute;
	left:10px;
	pointer-events: none;

}
.edit-head-img{
	position: relative;
	float: left;
	width: 112px;
	height: 104px;
    border:1px solid #ccc;
}
.m-image{
	overflow: hidden;
	margin-bottom: 20px;
}
#user-image{
	height: 40px;
	width: 80px;
	display: block;
	opacity: 0;

}
.ipt-mask{
	width:80px;
	height:40px;
	position: absolute;
	left:0;
	top:0;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	background: #ccc;
	clear: both;
	pointer-events: none;
}
.upload-img{
	position: relative;
	margin-top: 20px;
	float: left;
	margin-left: 20px;

}
.edit-head-img img{
	display: block;
	width: 112px;
	height: 104px;
}
.revise-my-info{
	height: 140px;
	position: relative;
	background: white;
	margin-bottom: 10px;

}
.revise-my-info img{
	width: 100%;
	height: 104px;
}
.revise-my-info .head-img{
	box-sizing: border-box;
	width:120px;
	height: 112px;
	position: absolute;
	left:20PX;
	top:-20px;
	z-index:10;
	border:4px solid #f0f0f0;
	border-radius: 5px;
}

.nickname{
	position: absolute;
	left:180px;
}
.edit-info{
	width:120px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border:1px solid #1f7994;
	position: absolute;
	right: 40px;
	top:20px;
	user-select: none;
	cursor: pointer;
}
.look-edit{
	width:100%;
	height: 80px;
	background: white;
	position:absolute;
	left:0px;
	top:60px;
	z-index: 5;
	transition: .3s;
}
.look-all{
	position: absolute;
	left:160px;
	top:20px;
	user-select: none;
	z-index: 5;
	color: #8590A6;
}
.look-all i{
	color:#8590A6;
	font-size: 14px;
	font-weight: normal;
}
.all-info{
	width:380px;
	background: white;
	position: absolute;
	left:180px;
	top:60px;
	z-index: 5px;
	user-select: none;

}
.all-info p{
	margin:0;
}

.nav-pills{
	background:rgba(20,34,96,.5);
}
caption{
	color:white;
}
table{
	color:white;
}
a{
	color:white;
}
.on{
	display:block;
}
.info-content li{
	display: none;
}
.info-content li:nth-of-type(1){
   display:block;
}
li{
	list-style: none;
}
#info-content{
	padding-left:0;
}

.modify-info a{
	color:black;
}
.revise-info{
	width:700px;
	height: 600px;
	border:5px solid white;
	margin:50px auto;
	padding: 30px;
	overflow: hidden;
	display: none;
}


.m-name{
	margin-bottom:20px;
	overflow: hidden;
}
.m-gender{
	margin-bottom:20px;
	overflow: hidden;
}
.m-age{
	margin-bottom:20px;
	overflow: hidden;
}
.m-addr{
	margin-bottom:20px;
	overflow: hidden;
}
.m-mark{
	margin-bottom:20px;
	overflow: hidden;

}
label{
	display: block;
	width:100px;
	text-align: right;
	float: left;
}
input{
	display: block;
	width: 200px;
	float: left;
}
#create,#revise{
	width:100px;
	height:30px;
	border-radius: 10px;
	line-height: 30px;
	text-align: center;
	background: lightblue;
	border:1px solid lightblue;
	outline: none; 
	margin-left:100px;
}
.revise-info h2{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	user-select: none;
	cursor: pointer;

}
textarea{
	text-indent: 2em;
}
.edit-head-img i{
	font-size: 40px;
}

#plus{
	width: 40px;
	height: 40px;
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -20px;
    margin-left: -20px;
    z-index: -2;

}
.modal{
	display: block;
}
.fade{
	opacity: 1;
}
#modal{
	box-shadow:0 0 15px lightblue;
	width: 300px;
	height: 140px;
	margin:200px auto;
	border:1px solid lightblue;

}
#modal-content{
	border:none;
	box-shadow: none;
	width: 300px;
	height:160px;
}

.dialog-mask{
	display: none;
	width: 100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	z-index: 2000;
	background: rgba(0,0,0,.2);

}
#revise{
	cursor:pointer;
	user-select: none;
}
#create{
	cursor: pointer;
	user-select: none;
}
.revise-personinfo{
	padding: 20px;
	width:900px;
	height:600px;
	margin:0 auto;
	background: white;
	z-index: 100;
	position: absolute;
	left:0;
	top:0;
	box-shadow: 0 0 4px #ccc;
	display: none;
	background-size: cover;
}
.edit-head{
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: bold;
}
.upload-headimg{
	overflow: hidden;
	/*position: relative;*/

}
.person-info-head{
	float: left;
	width: 120px;
	height: 120px;
	border:2px solid #ccc;
}
.close-revise{
	position: absolute;
	right:10px;
	top:10px;
	width:20px;
	height: 20px;
	text-align: center;
	line-height:20px;
	font-size: 20px;
	cursor: pointer; 
}
.nocollect{
	width:200px;
	color:white;
	font-size: 20px;
	margin:100px auto;
}
.nofocus{
	width: 200px;
	color: white;
	font-size: 20px;
	margin: 100px auto;
}
.fixedtop{
	position: fixed;
	top:0;
	left:0;
	z-index: 1000;
}
caption{
	font-size: 18px;
	color:#06191f;
	font-weight: bold;
}
th img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.num{
	color: #06191f;
}
